# **World Population Dataset**
## **PHASE 1 REPORT - Data Preperation and Visualization**

   Group Number - 11
 
 - Group Members and IDs
    * Aarav Jain
    * Ahnaf Tausif
    * Kushagra Baghel
    * Mayank Deepak Thakkar
    * Vishwas Aggarwal

## Table of Contents

## Introduction <a id='itr'></a>

### Dataset Source

The World Population Dataset used in this report was sourced from Kaggle(Sourabh Banerjee,2022). This dataset contains the information about the World Population from 1970 to 2022.

### Dataset Information

The World Population Dataset is about the population of the world throughout each decade from 1970 to 2022. The dataset records the population of each country. It has features 

**Dataset Retrieval**

Read and Display 10 randomly selected rows from the dataset.

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import io
import requests

pd.set_option('display.max_columns', None) 

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'
plt.style.use("seaborn")

In [28]:
df_grp11 = pd.read_csv('ParisHousingClass.csv')

In [29]:
df_grp11.sample(10, random_state=999)

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
9031,8064,33,1,0,27,1452,3,1,1992,0,0,2929,7491,468,0,6,811290.2,Basic
3462,5132,54,1,1,42,95955,6,1,2018,0,0,3199,5389,215,1,2,520566.8,Basic
3863,80958,42,1,0,36,71081,10,1,1998,0,1,2017,6923,564,1,4,8098151.8,Basic
1144,64930,54,1,1,75,9580,5,6,2001,1,1,4584,7711,612,1,10,6510156.1,Luxury
2692,82120,77,0,1,62,54858,7,1,2001,1,0,9335,9216,170,1,10,8216635.1,Basic
9541,8242,33,1,1,76,54430,1,8,2003,1,1,1941,3466,385,1,7,841275.3,Luxury
2227,6547,93,0,0,20,70033,2,7,2021,0,0,719,1178,884,1,7,657002.1,Basic
210,15815,13,1,1,2,2179,7,1,2019,1,0,637,7880,552,0,4,1585031.9,Luxury
5709,32218,28,1,0,39,36128,1,4,2015,1,0,9705,5525,728,1,7,3225722.5,Basic
9334,54484,26,1,0,21,36507,1,8,1996,1,1,8337,7129,237,1,8,5453182.6,Basic

### Dataset Features

Here are the various features of the dataset in a tabular form. They are also described in the Kagle dataset.

In [ ]:
from tabulate import tabulate

table = [['Name','Data Type','Units','Description'],
[]