# **Car Prices in India Dataset**

## **PHASE 2 REPORT - Statistical Modelling**

#### Group Number - 11
##### - Group Members and IDs
   * Aarav Jain - s3943906
   * Ahnaf Tausif - s3890097
   * Kushagra Baghel - s3882120
   * Mayank Deepak Thakkar - s3885003
   * Vishwas Aggarwal - s3859098

## Table of Contents
* [Introduction](#itr)
  + [Phase 1 Summary](#p1_summary)
  + [Report Overview](#report_overview)
  + [Overview Of Methodology](#overview_of_methodology)

## Introduction <a id='itr'></a>

### Phase 1 Summary <a id='p1_summary'></a>

* DATASET - 
In Phase 1 part of the project, we used an interesting dataset that helped us to predict the prices of used cars in the country 'India', which is also known as the Second most populous country with an average population of 1.3 billion and about 296 million running/registered vehicles.

* ATTRIBUTES - 
The dataset contained various columns/attributes namely: Unnamed: 0, Name, Location, Year, Kilometers_Driven, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power, Seats and the target feature, that is Price.

* DROPPING ATTRIBUTES - 
However, there were some attributes that were not very useful for predicting the price of the car. In order to keep the dataset accurate, we started by dropping the columns/attributes that were not very useful. This process took place in the section - 'Data Cleaning and Preprocessing'.

* DROPPED VALUES - 
The values that we dropped were -  Unnamed: 0, new_price and Name.

* DATATYPES - 
In order to make sure that the dataset has correct datatypes associated with its attributes, we cross-checked the datatypes of all the attributes that came out to be correct.

* MISSING VALUES - 
For a dataset to be perfect and provide accurate results further, we need to make sure that there are no missing values in the whole dataset. For the same, we checked for any missing values by checking the ampount of missing values in all the columns.

* DROPPING OBSERVATIONS WITH MISSING VALUES - 
We found some missing values in the columns namely - Mileage, Engine, Power and Seats. For the dataset to be perfect, we dropped the observations with missing values and verified whether the missing values were successfully dropped to avoid any future errors in part 'Data Exploration and Visualisation'. Now, the whole dataset was considered to be cleaned. Then, we jumped to the part called 'Data Exploration and Visualisation'. In this part, we started exploring and visualising various features in combination with each other.

* DATA EXPLORATION AND VISUALISATION - 
In this part, we started exploring and visualising various features in combination with each other. We started by visualsing the data by plotting various one-variable, two-variable and three-variable plots in the form of various figures, graphs, boxplots, scatterplots and histograms taking into consideration different combinations that help us predict the prices of the used cars.

* PLOTS - 
For two-variable plots we considered the combinations like  price-transmission, kilometers_driven - fuel_type, price - owner_type, etc. and for three-variable plots we considered the combinations like price - broken down by transmission and owner_type, price - broken down by owner_type and fuel_type, etc.






* To conclude the Phase 1 report summary, this helped us to figure out various conclusions which helped in predicting the car prices --*Not sure about this point --*

### Report Overview <a id='report_overview'></a>

In Phase-2 part part of the project, we focus on the statistical modelling of the dataset being used. This report will be having some important section like:
1. Statistical Modelling: This section consists five parts:

   A) Full model overview - An overview of the full model with the information of various terms and variables being used in it.
   
   B) Full model Diagnostic Checks - A full diagnostic check for finding out if there are any indications of the violations in the regression      assumptions taken in the model.

   C) Feature Selection - In this section we would be performing backward feature selection using p-values.

   D) Reduced model Overview - In this section, we would be givign an overview of of the reduced model, i.e. the model after performing the feature selection part. in this we would be giving similar overview as full model overview where we displayed the informtion about various terms and variables used in the reduced model.

   E) Reduced Model Diagnostic Checks - A full diagnostic check for the reduced model, similar to the diagnostuc check performed for the full model in the earlier sections.
   

2. Critique and Limitations - Various strengths and weaknesses of our approach will be provided in detail in this section.


3. Summary and Conclusion - This consistes of three parts:
   A) Project Summary - A detailed combined summary of both Phase-1 and Phase-2 projects.

   B) Summary of Findings - Summary of all out findings about the problems we were focusing on.

   C) Conclusion - Finally, a detailed conclusion in which where we will showcase our goals and objectives that were met in this project.

### Overview Of Methodology <a id='overview_of_methodology'></a>

## Statistical Modelling <a id='itr'></a>

### Full Model Overview <a id='itr'></a>

Our database model consists of 9 features and 6020 total observations

We use the following variables in our dataset -

* Name - The name of the car including brand and model
* Location - The georaphical location of where the car is available to purchase
* Year - The year in which the car was bought in a new condition
* Kilometers Driven - The total distance driven in the car by its previous owners
* Fuel type - The kind of fuel used by the car like Petrol,Diesel,CNG
* Transmission - The transmission used by the car(Manual/Automatic)
* Owner Type - The number of owners a car has had
* Mileage - The mileage offered by the car in kmpl or km/kg
* Engine - The displacement value of the engine in CC

### Module Imports <a id='itr'></a>

In [106]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None) 

%matplotlib inline 
%config InlineBackend.figure_format = 'retina'
plt.style.use("ggplot")

df = pd.read_csv('train-data.csv')

Let us clean up our dataset

In [107]:
df = df.drop(columns=["Unnamed: 0","New_Price", "Name", "Mileage", "Power", "Engine"]) 
df = df.dropna()
df.drop(df[df['Owner_Type'] == "Fourth & Above"].index, inplace = True)

In [108]:
df.shape

(5969, 8)

 Let us view the clean dataset that we preprocessed in Phase 1

In [109]:
df.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Seats,Price
0,Mumbai,2010,72000,CNG,Manual,First,5.0,1.75
1,Pune,2015,41000,Diesel,Manual,First,5.0,12.50
2,Chennai,2011,46000,Petrol,Manual,First,5.0,4.50
3,Chennai,2012,87000,Diesel,Manual,First,7.0,6.00
4,Coimbatore,2013,40670,Diesel,Automatic,Second,5.0,17.74

We use the get_dummies() function of pandas to get a one-hot encoding of the dataset

In [110]:
data_encoded = pd.get_dummies(df, drop_first=True)
data_encoded.head()

,Year,Kilometers_Driven,Seats,Price,Location_Bangalore,Location_Chennai,Location_Coimbatore,Location_Delhi,Location_Hyderabad,Location_Jaipur,Location_Kochi,Location_Kolkata,Location_Mumbai,Location_Pune,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Transmission_Manual,Owner_Type_Second,Owner_Type_Third
0,2010,72000,5.0,1.75,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
1,2015,41000,5.0,12.50,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
2,2011,46000,5.0,4.50,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
3,2012,87000,7.0,6.00,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0
4,2013,40670,5.0,17.74,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0

In [111]:
formula_string_indep_vars_encoded = ' + '.join(data_encoded.drop(columns='Price').columns)
formula_string_encoded = 'Price ~ ' + formula_string_indep_vars_encoded
print('formula_string_encoded: ', formula_string_encoded)

formula_string_encoded:  Price ~ Year + Kilometers_Driven + Seats + Location_Bangalore + Location_Chennai + Location_Coimbatore + Location_Delhi + Location_Hyderabad + Location_Jaipur + Location_Kochi + Location_Kolkata + Location_Mumbai + Location_Pune + Fuel_Type_Diesel + Fuel_Type_Electric + Fuel_Type_LPG + Fuel_Type_Petrol + Transmission_Manual + Owner_Type_Second + Owner_Type_Third

In [112]:
model_full = sm.formula.ols(formula=formula_string_encoded, data=data_encoded)
model_full_fitted = model_full.fit()
print(model_full_fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.465
Model:                            OLS   Adj. R-squared:                  0.464
Method:                 Least Squares   F-statistic:                     258.9
Date:                Sat, 22 Oct 2022   Prob (F-statistic):               0.00
Time:                        15:21:18   Log-Likelihood:                -21026.
No. Observations:                5969   AIC:                         4.209e+04
Df Residuals:                    5948   BIC:                         4.223e+04
Df Model:                          20
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept           -1474.5691     77.740    -18.968      0.000   -1626.967   -1322.171
Year                    0.7394      0.039     19.167      0.000       0.664       0.815
Kilometers_Driven    2.272e-06    1.2e-06      1.898      0.058   -7.47e-08    4.62e-06
Seats                   0.2786      0.140      1.988      0.047       0.004       0.553
Location_Bangalore      3.3816      0.706      4.791      0.000       1.998       4.765
Location_Chennai        0.5040      0.668      0.754      0.451      -0.806       1.814
Location_Coimbatore     3.5786      0.645      5.544      0.000       2.313       4.844
Location_Delhi          0.8485      0.653      1.300      0.194      -0.431       2.128
Location_Hyderabad      1.3413      0.629      2.133      0.033       0.109       2.574
Location_Jaipur        -0.1419      0.685     -0.207      0.836      -1.486       1.202
Location_Kochi          1.0719      0.644      1.664      0.096      -0.191       2.335
Location_Kolkata       -0.5341      0.658     -0.812      0.417      -1.824       0.755
Location_Mumbai         0.3641      0.627      0.581      0.561      -0.865       1.593
Location_Pune          -0.0071      0.645     -0.011      0.991      -1.272       1.258
Fuel_Type_Diesel        4.3125      1.119      3.853      0.000       2.118       6.507
Fuel_Type_Electric     -3.2134      5.917     -0.543      0.587     -14.814       8.387
Fuel_Type_LPG           1.0579      2.829      0.374      0.708      -4.487       6.603
Fuel_Type_Petrol       -0.3120      1.115     -0.280      0.780      -2.497       1.873
Transmission_Manual   -13.0176      0.245    -53.108      0.000     -13.498     -12.537
Owner_Type_Second      -0.2645      0.313     -0.845      0.398      -0.878       0.349
Owner_Type_Third        1.4061      0.828      1.698      0.090      -0.218       3.030
==============================================================================
Omnibus:                     4909.013   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           254446.368
Skew:                           3.582   Prob(JB):                         0.00
Kurtosis:                      34.173   Cond. No.                     7.95e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.95e+07. This might indicate that there are
strong multicollinearity or other numerical problems.